<div class="flex flex-row items-center justify-between">
  <h3 mat-dialog-title>
    {{ data.category ? 'Edit category' : 'Create a new category' }}
  </h3>
  <p-colorPicker class="mr-4" [formControl]="$any(categoryFormGroup.get('color'))" />
</div>

<mat-dialog-content>
  <form [formGroup]="categoryFormGroup" class="flex flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    Cancel
  </button>
  <button
    mat-button
    [disabled]="categoryFormGroup.pristine || categoryFormGroup.invalid"
    [mat-dialog-close]="categoryFormGroup.value"
  >
    {{ data.category ? 'Edit' : 'Create' }}
  </button>
</mat-dialog-actions>
