<h3 mat-dialog-title>
  {{ data.item ? 'Edit item' : 'Create a new item' }}
</h3>

<mat-dialog-content>
  <form [formGroup]="itemFormGroup" class="flex flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>

    <div class="flex flex-row place-content-between">
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput type="number" formControlName="quantity" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Unit</mat-label>
        <mat-select formControlName="unit">
          <mat-option>none</mat-option>
          @for (unit of measuringUnits; track unit) {
            <mat-option [value]="unit">{{unit}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex flex-row justify-between items-center">
      <mat-label>Category:</mat-label>
      @if (selectedCategory) {
        <app-category [category]="selectedCategory"></app-category>
      } @else {
        <mat-label>No category selected</mat-label>
      }
    </div>

    <button mat-stroked-button class="w-full my-2" (click)="openCategoriesModal()">
      CHANGE CATEGORY
    </button>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    Cancel
  </button>
  <button
    mat-button
    [disabled]="itemFormGroup.pristine || itemFormGroup.invalid"
    [mat-dialog-close]="itemFormGroup.value"
  >
    {{ data.item ? 'Edit' : 'Create' }}
  </button>
</mat-dialog-actions>
