@if (loading) {
  <mat-spinner class="m-auto"></mat-spinner>
}

@if (listService.list$ | async; as list) {
  <p-card [header]="list.name" class="w-6">
    <button mat-stroked-button class="w-full mb-2" (click)="createItem()">
      ADD A NEW ITEM
    </button>

    @if (itemService.items.getValue().length) {
      <div class="collection">
        @for (item of itemService.items$ | async; track item) {
          <app-item [item]="item"></app-item>
        }
      </div>
    } @else {
      <app-empty-indicator [elementName]="'items'"></app-empty-indicator>
    }
  </p-card>
}
