<button mat-stroked-button class="w-full mb-2" (click)="createList()">
  CREATE A NEW LIST
</button>

@if (listService.lists$ | async; as lists) {
  @if (lists.length) {
    <div class="collection">
      @for (list of lists; track list) {
        <div class="element">
          <button (click)="onOpenList(list)" class="flex flex-col cursor-pointer w-full">
            <p>{{ list.name }}</p>
            <p class="text-xs">{{ list.description }}</p>
          </button>
          <app-floating-settings-menu 
            (edit)="onEditList(list)"
            (delete)="onDeleteList(list)"
          ></app-floating-settings-menu>
        </div>
      }
    </div>
  } @else {
    <app-empty-indicator [elementName]="'lists'"></app-empty-indicator>
  }
}

<p-confirmDialog [baseZIndex]="10000" key="confirmDelete"></p-confirmDialog>
